.box {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head {
  display: flex;
  align-items: first baseline;
  gap: 10px;
}

.header {
  font-weight: bold;
  font-size: 44px;
}
.about {
  font-weight: bold;
  font-size: 24px;
}

.description {
  font-size: 22px;
  color: gray;
}
.descriptionSmall {
  font-size: 14px;
  color: gray;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 25px;
}

.productLeft {
  width: 50%;
  height: 340px;
}

.productLeft img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.productRight {
  display: flex;
  justify-content: left;
  width: 50%;
  flex-direction: column;
}

.ticketBox {
  color: black;
  display: flex;
  align-items: center;
}
.tickets {
  display: flex;
  gap: 10px;
}

.cartBtnBox {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
