.container {
  width: 357px;
}

.heading {
  font-size: 33px;
  font-weight: bolder;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.downFormSide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.downSide {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
