.btn {
  border-radius: 20px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  /* word-spacing: 0px; */
  font-weight: bolder;
  transition: 0.4s ease-in-out all;
}

.btn:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out all;
}
