.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  display: flex;
  align-items: center;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 16px;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.username {
  margin-bottom: 4px;
  font-size: 22px;
  font-weight: bolder;
}

.rightSide {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.makeAdminButton {
  margin-right: 8px;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modalButtons {
  display: flex;
  justify-content: flex-end;
}
